html,body {
    font: 12px/1.5,Helvetica,Arial,sans-serif;
    background-color: #fff;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}
.label-txt {
    font-weight: bold;
    font-size: 12px !important;
}
.inputForm {
    font-size: 12px;
}
.inputControl {
    border-radius: 2px;
    border: 1px solid #e9e9ef;
    border-top: 2px solid #e9e9ef;
}
#loginInfo .card-header {
    padding-top: 5px;
    padding-bottom: 5px;
}
#loginInfo .card {
    border: none;
    margin-bottom: 25px;
}
#loginInfo .btn-info {
    color: #fff;
    background-color: #00abe6;
    border-color: #00abe6;
    border-radius: 1px;
    font-weight: 600;
    font-size: 14px;
    padding-left: 20px;
    padding-right: 17px;
}
#loginInfo .mgl {
    margin-left: 12px;
}
#loginInfo .lock-icon {
    position: relative;
    right: 4px;
}
#loginInfo .accountTxt {
    padding-left: 18px;
    padding-top: 5px;
    color: darkslategray;
}
#loginInfo .btnGrp {
    padding-top: 18px;
    padding-left: 24px;
}
#loginInfo .OR {
    padding-left: 17px;
    padding-right: 17px;
    font-weight: 400;
}
#loginInfo .fp {
    color: #2C73BD;
    padding-left: 10px;
    cursor: pointer;
}
.table-b {
    border: 1px solid lightgray;
    margin-bottom: 12px;
    height: 287px;
    overflow: hidden;
}
.asterisk {
    position: relative;
    left: 2px;
}
.check {
    position: relative;
    top: 2px;
}
.terms {
    font-size: 12px;
    margin-left: 6px;
}
.checkout-btn {
    float: right;
    position: relative;
    bottom: 10px;
    right: 21px;
    background-color: #008B8B;
    font-size: 12px;
    font-weight: bold;
    display: inline-block;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
#billing_info .form-group {
    margin-bottom: 8px;
}
#billing_info .card-m {
    margin-left: -15px;
    margin-top: -12px;
}
#billing_info .card {
    border: none;
}
#billing_info .checkoutFloat {
    float: right;
}
.table td, .table th {
    font-size: 13px;
    padding: 8px !important;
}
#prod_section {
    border: 1px solid lightgray;
    margin-bottom: 20px;
}
#prod_section .form-control {
    display: inline;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: 5px;
    font-size: 12px;
    border-radius: 3px;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
#prod_section img{
    width: 90px;
    border: 1px solid gray;
}
#prod_section .quantRow {
    padding-top: 7px;
    padding-left: 10px;
    padding-bottom: 8px;
}
#prod_section .quant {
    padding-left: 5px;
    width: 40px;
}
#prod_section .card-header {
    font-size: 14px;
    font-weight: 500;
    padding: 8px 0 8px 11px;
}
#prod_section span a {
    font-size: 13px;
    position: relative;
    left: 7px;
    color: deepskyblue;
    text-decoration: underline;
}
#prod_section .drTxt {
    position: relative;
    bottom: 80px;
    left: 100px;
    color: gray;
    font-size: 13px;
}
#prod_section .est-b {
    background-color: #f8f9fa;
}
#prod_section .est-font {
    font-weight: normal;
}
.subTotal {
    font-size: 15px;
    font-weight: bold;
}
.numTotal {
    font-size: 12px;
}
#prod_section .shipMethod {
    padding: 7px 0 7px 11px;
}
#billing_info .card-header{
    padding: 5px 0 0 8px;
}
.payment_info {
    margin-right: 19px;
}
#shipping .form-control {
    display: inline;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: 5px;
    font-size: 12px;
    border-radius: 3px;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.refNo {
    font-size: 12PX;
    padding-bottom: 6px;
}
.refNo a {
    color: deepskyblue;
}
.checkoutFooter {
    font-size: 10px;
    border-top: 1px solid gray;
}
#checkout .checkout-txt {
    font-size: 28px;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 10px;
}
#checkout .gyColor{
    color: gray;
}
#checkout .skyColor {
    color: #0098cc;
}
#checkout .skyColor .one {
    font-size: 40px;
    font-weight: bold;
}
#checkout .skyColor .verify {
    position: relative;
    bottom: 16px;
    right:0;
}
#checkout .skyColor .order{
    position: relative;
    right: 43px;
}
#checkout .gyColor .one {
    font-size: 40px;
    font-weight: bold;
}
#checkout .gyColor .bill {
    position: relative;
    bottom: 16px;
    right: 8px;
}
#checkout .gyColor .info{
    position: relative;
    right: 56px;
}
#checkout .gyColor .verify {
    position: relative;
    bottom: 16px;
    right:0;
}
#checkout .gyColor .order{
    position: relative;
    right: 43px;
}
#checkout .gyColor .complete {
    position: relative;
    right: 47px;
}
#checkout .skyColor .complete {
    position: relative;
    right: 47px;
}
#checkout .skyColor .orderNew {
    position: relative;
    bottom: 16px;
    right: 1px;
}
#checkout .gyColor .orderNew {
    position: relative;
    bottom: 16px;
    right: 1px;
}
#checkout_details .checkoutCards{
    padding: 7px;
    font-size: 13px;
    font-weight: 500;
    background-color: #DCDCDC;
}
#checkout_details .edit {
    float: right;
}
#checkout_details .card-detail {
    font-size: 12px;
    margin-left: -9px;
    margin-top: -13px;
    padding-bottom: 75px;
}
#checkout_details .edit a {
    color: #343a40;
}
#checkout_details .card {
    height: 100%;
}
#checkout_info {
    border: 1px solid lightgray;
    margin-bottom: 20px;
}
#checkout_info .card-header {
    padding: 5px;
    font-size: 12px;
    font-weight: bold;
    background-color: #DCDCDC;
}
#checkout_info .quantNo {
    padding-left: 21px;
}
#checkout_info .quantity {
    font-size: 12px;
    color: gray;
    line-height: 2.0;
}
#createAccount {
    margin-bottom: 57px;
}
#forgotPass .forgotText {
    padding-bottom: 12px;
}
#billing_info .paymentInput {
    font-size: 12px;
    border-color: #e9e9ef;
}
#orderDetail {
    font-size: 12px;
}
#orderDetail .card-header {
    background-color: #fff;
    padding: 4px 0 0 10px;
}
#orderDetail .shipAddress {
    padding-bottom: 40px;
}
.viewInvoice {
    padding-top: 30px;
    padding-bottom: 30px;
}
.invoice-btn {
    float: right;
    background-color: #fff;
    border-radius: 18px;
    font-weight: bold;
    padding-left: 11px;
    padding-right: 13px;
    /* border-bottom: #DCDCDC; */
    border-color: #DCDCDC;
    color: gray;
}
.privacyPolicy-p a {
    color: #000;
}
.price {
    text-align: right;
}
.price-ipad {
    text-align: right;
}
.edit {
    font-size: 12px;
    font-weight: bold;
    margin-left: -5px;
    text-align: right;
}
.edit a {
    color: gray;
}
.order-btn {
    font-size: 12px;
    border: 1px solid lightgray;
    border-radius: 11px;
    margin-left: 15px;
    padding: 4px 10px 4px 10px;
    background-color: #fff;
    color: gray;
}
.privacyPolicy-p {
    padding-bottom: 10px;
}
.price-ipad {
    margin-left: -6px;
}
.order-p {
    font-size: 14px;
    padding-top: 15px;
}
.order-p a {
    color: deepskyblue;
}
.thankYou {
    padding-top: 14px;
    padding-bottom: 5px;
}
.thankYou h5 {
    font-weight: normal;
}
.go {
    background-color: #A4C639;
    margin-left: 2px;
    font-size: 10px;
    border-color: #A4C639;
    border-radius: 4px;
    color: gray;
}
.checkout-table {
    border: 1px solid lightgray;
    margin-bottom: 12px;
}
.table .thead-customLight th {
    color: #495057;
    background-color: #f8f9fa;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
}
.termsOfSale {
    padding-top: 9px;
    padding-bottom: 4px;
}
.privacyPolicy {
    margin-left: 22px;
    font-size: 13px;
}
.selectBox {
    display: block;
    padding: .375rem .75rem;
    font-weight: 400;
    line-height: 1.5;
    color: #000;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    height: 35px;
    font-size: 14px;
    width: 96%;
}
.visible {
    display: none;
}
.logout {
    background-color: #00abe6;
    font-size: 12px;
    color: #fff;
    padding-top: 2px;
    padding-bottom: 2px;
}
.logout img {
    width: 17px;
    margin-left: 9px;
}
.logout .usa {
    margin-right: 13px;
    margin-left: 9px;
    font-weight: bold;
}
.logout .usaFlag {
    margin-left: 81px;
}
.logout a {
    color: #fff;
}
.cart {
    background-image: url(images/drdod_sprite.png);
    background-position: right 4px bottom 26px;
}
.triangle-up {
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 100px solid red;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 568px)
and (-webkit-device-pixel-ratio: 2) and (device-aspect-ratio: 40/71) {
    #checkout .gyColor .info {
        position: relative;
        left: 23px;
        bottom: 56px;
    }
    #checkout .gyColor .bill {
        position: relative;
        bottom: 18px;
        right: 8px;
    }
    #checkout .skyColor {
        color: #0098cc;
        font-size: 12px;
    }
    #checkout .gyColor {
        color: gray;
        font-size: 12px;
    }
    #checkout .gyColor .verify {
        position: relative;
        bottom: 17px;
        right: 0;
    }
    #checkout .gyColor .order {
        position: relative;
        left: 28px;
        bottom: 30px;
    }
}
@media screen and (max-width: 650px)  {
    .checkout-btn {
        position: relative;
        bottom: 20px;
        right: 21px;
    }
    .table-b {
        border: 1px solid lightgray;
        margin-bottom: 12px;
        height: 287px;
        overflow: auto;
    }
    .inputControl {
        border-radius: 2px;
        border: 1px solid #e9e9ef;
        border-top: 2px solid #e9e9ef;
        width: 100%;
    }
    .selectBox {
        display: block;
        padding: .375rem .75rem;
        font-weight: 400;
        line-height: 1.5;
        color: #495057;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        border-radius: .25rem;
        transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
        height: 29px;
        font-size: 12px;
        width: 100%;
    }
    .visible {
        display: block;
    }
    .visible-m {
        display: none;
    }
    .shopDetail {
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 9px;
    }
    .update {
        padding-right: 6px;
        padding-left: 7px;
    }
    .quant-sm {
        padding-left: 15px;
        padding-top: 5px;
    }
    .quant-sm .fs {
        font-size: 12px;
    }
    .edit {
        font-size: 12px;
        font-weight: bold;
        margin-left: 1px;
    }
    .sm-m {
        margin-bottom: 5px;
    }
    .cart {
        background-image: url(images/drdod_sprite.png);
        background-position: right 47px bottom 26px;
        height: 27px;
        width: 40px;
        cursor: pointer;
    }
    .logout {
        background-color: #00abe6;
        font-size: 12px;
        color: #fff;
        padding-top: 2px;
        padding-bottom: 2px;
        padding-left: 12px;
    }
    .logout .usaFlag {
        margin-left: 0;
    }
    #checkout .breadcrumb-item.active {
        color: #0098cc;
    }
    #checkout .breadcrumb-item a {
        color: gray;
    }
   #checkout .breadcrumb-p {
       font-size: 12px;
   }
   #checkout nav {
       width: 100%;
   }
    .order-p {
        font-size: 14px;
        padding-top: 0px;
    }
    #checkout .gyColor .info {
        position: relative;
        left: 26px;
        bottom: 31px;
    }
    #checkout .gyColor .order {
        position: relative;
        left: 29px;
        bottom: 32px;
    }
    #checkout .skyColor .complete {
        position: relative;
        /* right: 47px; */
        left: 26px;
        bottom: 30px;
    }
    #loginInfo .mgl {
        margin-left: 0;
    }
    #loginInfo .btn-info {
        color: #fff;
        background-color: #00abe6;
        border-color: #00abe6;
        border-radius: 1px;
        font-weight: 600;
        font-size: 14px;
        padding-left: 20px;
        padding-right: 17px;
        margin-top: 5px;
    }
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) 
and (orientation : portrait) {
    .inputControl {
        border-radius: 2px;
        border: 1px solid #e9e9ef;
        border-top: 2px solid #e9e9ef;
        width: 120px;
    }
    .selectBox {
        width: 114%;
    }
    #checkout .gyColor .info {
        position: relative;
        left: 25px;
        bottom: 29px;
    }
    #checkout .gyColor .complete {
        position: relative;
        left: 26px;
        bottom: 31px;
    }
    .price-ipad {
        margin-left: -8px;
    }
    .cart {
        background-image: url(images/drdod_sprite.png);
        background-position: right -9px bottom 22px;
        height: 43px;
    }
    .logout .usaFlag {
        margin-left: 30px;
    }
    #checkout .skyColor .complete {
        position: relative;
        left: 26px;
        bottom: 32px;
    }
    #loginInfo .fp {
        color: #2C73BD;
        padding-left: 10px;
        cursor: pointer;
        position: relative;
        font-size: 13px;
    }
    #loginInfo .mgl {
        margin-left: 6px;
        position: relative;
    }
}
@media only screen and (min-width: 1024px) and (max-height: 1366px) and (-webkit-min-device-pixel-ratio: 1.5) {
    #checkout .gyColor .info {
        position: relative;
        left: -54px;
        bottom: 0px;
    }
    #checkout .skyColor .complete {
        position: relative;
        left: -47px;
        bottom: 0px;
        right: 45px;
    }
    #checkout .gyColor .complete {
        position: relative;
        left: -45px;
        bottom: 2px;
    }
}

@media only screen 
and (device-width : 812px) 
and (device-height : 375px) 
and (-webkit-device-pixel-ratio : 3) { 
    #checkout .gyColor .info, 
    #checkout .gyColor .complete {
        left: 25px;
        bottom: 28px;
    }
 }
 
@media only screen 
and (device-width : 320px) 
and (device-height : 568px) { 
    #prod_section img {
        width: 75px;
    }
}
/***** Loader Gif CSS ******/
.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    position: fixed;
    z-index: 999;
    overflow: visible;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
#overlay_popup {
    position:fixed;
    top:0;
    left:0;
    background:rgba(0, 0, 0, 0.17);
    z-index:5;
    width:100%;
    height:100%;
}
#loading { 
    display: none;
}
#empty_cart {
    text-align: center;
    padding: 10px;
    display: none;
}
#billing_info .form-group .error, 
#loginInfo .form-row .error,
#forgotPass .form-group .error{
    color: #ff0000;
    font-size: 12px;
    line-height: 0px;
}
.DRElement {
    width: 100%;
    border: 1px solid #e9e9ef;
    border-top: 2px solid #e9e9ef;
    padding: 3px;
}
#cartReviewOrder {
    display:none;
}
#acceptTermsError {
    font-size: 12px;
    color: red;
    display: none;
}
#user_address_option, 
#user_add_book_name, 
#userLogoutLink,
#user_payment_option,
#user_payment_name,
#cardCvv{
    display : none;
}
@media only screen and (min-device-width: 375px) and (max-device-height: 812px) 
and (orientation : landscape) {
    #loginInfo .mgl {
        margin-left: 0px;
    }
    #loginInfo .fp {
        font-size: 13px;
    }
}