html,body {
    font: 12px/1.5,Helvetica,Arial,sans-serif;
    background-color: #ECECEC;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

.white-bg {
    background-color: #fff;
}
/* HEADER */
header .flex-container {
    background-color: #2b3e50;
    height: 70px;
}

header .logo-wrapper {
    padding: 20px 0 0 84px;
}

/* FOOTER */
footer {
    background-color: #0072BC;
}

footer .content-wrapper {
    padding: 25px 0 ;
}

footer .content-wrapper p {
    color: #fff;
}
