.cards-label {
    font-weight: 500;
    font-size: 18px;
    color: #000000;
}

.payment-cards {
    list-style: none;
    padding: 0;
    margin: 0;
}

.payment-cards li {
    display: inline-block;
}

.card-img {
    position: absolute;
    height: 41px;
    width: 42px;
    top: 36px;
    right: 21px;
}

.card-info label {
    display: block;
}

.card-info select {
    display: inline;
    width: auto;
    min-width: auto;
}

.card-info span {
    padding: 0 20px;
}

.card-info input {
    max-width: 100px;
}

#cardBilling, #agreeAcc, #agreeTerms {
    position: absolute;
    left: 0;
    width: 20px;
    padding: 0;
    margin: 0;
    height: 28px;
}