@font-face {
    font-family: 'Gotham';
    src:  url('../fonts/GothamLight.ttf') format('truetype');
    font-weight: 300;
}

@font-face {
    font-family: 'Gotham';
    src:  url('../fonts/GothamBook.ttf') format('truetype');
    font-weight: 400;
}

@font-face {
    font-family: 'Gotham';
    src:  url('../fonts/GothamMedium.ttf') format('truetype');
    font-weight: 500;
}

@font-face {
    font-family: 'Gotham';
    src:  url('../fonts/GothamBold.ttf') format('truetype');
    font-weight: 600;
}

html,body {
    font-family: 'Gotham', sans-serif;
    font-size: 16px;
    font-weight: 400;
    background-color: #ECECEC;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

.white-bg {
    background-color: #fff;
}
/* HEADER */
header .flex-container {
    background-color: #2b3e50;
    height: 70px;
}

header .logo-wrapper {
    padding: 20px 0 0 84px;
}

img.site-logo {
    max-width: 183px;
    width: 100%;
}

/* FOOTER */
footer {
    background-color: #0072BC;
}

footer .content-wrapper {
    padding: 20px 0;
    margin-bottom: 0;
}

footer .content-wrapper p {
    color: #fff;
    margin-bottom: 10px;
}

footer .content-wrapper a {
    display: inline-block;
    color: #fff;
    padding: 5px 15px;
}

footer .content-wrapper a:first-child {
    padding-left: 0;
}

footer .content-wrapper a:hover {
    color: #fff;
}

footer .content-wrapper span {
    color: #fff;
}

footer img.pull-right {
    margin: 35px 0 20px;
}

.alert {
    border-radius: 0;
}

.content-wrapper {
    padding: 60px 38px;
    margin-bottom: 55px;
}

.form-wrapper input {
    font-size: 16px;
    padding: 7px 10px;
    height: 48px;
    border: 1px solid #8c8c8c;
    border-radius: 0;
    background-color: #ffffff;
    font-family: Gotham;
    max-width: 514px;
    width: 100%;
    -webkit-user-select: text;
}

.form-wrapper select {
    font-size: 16px;
    padding: 7px 10px;
    height: 48px;
    border: 1px solid #8c8c8c;
    border-radius: 0;
    background-color: #ffffff;
    font-family: Gotham;
    max-width: 514px;
    width: 100%;
}

.form-wrapper textarea {
    font-size: 16px;
    border: 1px solid #8c8c8c;
    border-radius: 0;
    max-width: 514px;
    width: 100%;
}

.form-wrapper .form-group {
    padding-bottom: 30px;
}

.sec-divider {
    margin: 0 0 38px 0;
    height: 2px;
    background: #bababa;
}

.section-heading {
    font-weight: 500;
    font-size: 22px;
    color: #2b3e50;
    padding-bottom: 20px;
    display: inline-block;
}

.form-wrapper input::placeholder {
    color: #bebebe;
    opacity: 1;
}
.form-wrapper textarea::placeholder {
    color: #bebebe;
    opacity: 1; 
}
.form-wrapper .help-block, .error {
    color: red;
}

#card-number, #card-expiration, #card-cvv{
    font-size: 16px;
    height: 48px;
    border: 1px solid #8c8c8c;
    border-radius: 0;
    background-color: #ffffff;
    font-family: Gotham;
    max-width: 514px;
    width: 100%;
}

.DRElement {
    padding: 0 10px;
    color: #888;
    border: 1px solid #ced4da;
    background-color: #fff;
}

.DRElement,
.DRElement--empty,
.DRElement--complete,
.DRElement--invalid {
    font-family: Segoe UI, Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    height: 42px;
}

.DRElement--complete {
    color: #69bf29;
    border-color: #69bf29;
}

.DRElement--invalid {
    color: #dc3545;
    border-color: #dc3545;
}