.cards-label {
    font-weight: 500;
    font-size: 18px;
    color: #000000;
}

.payment-cards {
    list-style: none;
    padding: 0;
    margin: 0;
}

.payment-cards li {
    display: inline-block;
}

.card-img {
    position: absolute;
    height: 41px;
    width: 42px;
    top: 36px;
    right: 21px;
}

.card-info label {
    display: block;
}

.card-info select {
    display: inline;
    width: auto;
    min-width: auto;
}

.card-info span {
    padding: 0 20px;
}

.card-info input {
    max-width: 100px;
}

#cardBilling, #agreeAcc, #agreeTerms {
    position: absolute;
    left: 0;
    width: 20px;
    padding: 0;
    margin: 0;
    height: 28px;
}

.payment-options tr:hover{
    cursor: pointer;
}

.payment-options i {
    color: #FF0000;
    font-size: 20px;
}

.payment-options i:hover {
    color: #8B0000;
}

.payment-options .default-payment:first-child {
    color: #155724;
}

.payment-options .default-payment {
    background-color: #d4edda;
    border-color: #c3e6cb;
}

.table-overlay {
    display: none;
    position: absolute;
    background: white;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
    opacity: .6;
}